* {
	margin: 0;
	border: 0;
	padding: 0;
	font-family: arial, sans-serif;
	text-decoration: none;
}

.search {
	position: relative;
}

.search input {
	text-align: left;

	display: block;

	margin: 25px auto;
	border: 1px solid #E6E6E6;

	width: 33%;
	height: 36px;	

	font-size: 100%;

	padding-left: 20px;
}

.search img {
	position: absolute;
	top: 20%;
	left: 65%;
}

.search input:hover {
	box-shadow: 6px 6px 6px #BFBFBF;
}

.doodle {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 11%;
	text-align: center;
}

.buttons {
	text-align: center;
	
}

.buttons input {
	padding-left: 16px;
	padding-right: 16px;
	margin-right: 15px;

	height: 36px;
	line-height: 27px;

	color: grey;
	font-weight: bold;
	background-color: #F2F2F2;
}

.buttons input:hover {
	color:black;
	border: 1px solid grey;
	background-color: #F2F2F2;
	box-shadow: 0px 1px 1px #FCFCFC;
}

p, li {
	font-size: 13px;
}

a {
	text-decoration: none;
	color: inherit;
}


.header ul {
	list-style-type: none;
	float: right;
	margin-top: 10px;
}

li {
	display: inline;
	padding: 8px;
	
}

.header li a {
	color: #333333;
	padding: 7px;
}

li a:hover {
	text-decoration: underline;
}

.header input {
	background-color: #4285f4;
	color: #fff;
	height: 30px;
	border-radius: 2px;
	font-weight: bold;
	padding: 0 16px;
}

.header #apps {
	position: relative;
	top: 4px;
}

.header #notifications {
	position: relative;
	top: 4px;
}

.header #jorge {
	position: relative;
	top: 4px;
	height: 32px;
	width: 32px;
	border-radius: 100%;
}

.bottom ul {
	background-color: #F2F2F2;
	border: 1px solid #FAFAFA;
	height: 40px;
	line-height: 30px;
	color: #737373;

	position: fixed;
	bottom: 0;
	width: 100%;
}

.bottom ul li:nth-child(-n+3) {
	float: left;
} /* to move the other half of the footer to the left*/

.bottom ul li {
	float: right;
	margin-right: 1%;
	margin-left: 1%;
}